* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.card {
  margin-top: 2em;
  border-style: none;
  display: flex;
  align-items: center;

  .card-body {
    max-width: 800px;
    background-color: #677798;
    border-radius: 1em;
    gap: 2em;
    -webkit-box-shadow: 8px 0px 100px 34px rgba(144, 172, 225, 1);
    -moz-box-shadow: 8px 0px 100px 34px rgba(144, 172, 225, 1);
    box-shadow: 8px 0px 100px 34px rgba(144, 172, 225, 1);
  }
}

@media only screen and (max-width: 800px) {
  .card {
    margin-top: 0;
    min-height: 100vh;
    .card-body {
      margin: 2em auto;
    }
  }
}

@media only screen and (max-width: 650px) {
  .card {
    .card-body {
      width: 100%;
      margin: 0;
      box-shadow: none;
      border-radius: 0;
    }
  }
}
